.comunicatecontainer{
    padding: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.comunicado{
    width: 60%;
}
.comunicatedetail{
    width: 40%;
}
.headercomunicate{    
    margin: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #1888bf;
}
.containerimgcom{
    margin: 3rem;
    height: 300px;
    position: relative;
}
.imgcm{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.titulocomunicado{
    display: block;
    width: 50%;
    position: absolute;    
    top: 20%;
    z-index: 1;
    left: 10%;
    word-wrap: break-word;
}
.titulocomunicado >h2{
    width: 100%;
    color: rgb(236, 236, 236);
}
.titulocomunicado >span{
    color: rgb(236, 236, 236);
}
.titulocomunicado >span:hover{
    color: #1888bf;
    transition: .7s all;
}
.titulocomunicado >h2:hover{
    color: whitesmoke;
    transition: .7s all;    
} 
@media screen and (max-width: 960px) {
    .comunicatedetail{
        display: none;
    }
    .comunicado{
        width: 100%;
    }
    .comunicatecontainer{
        padding: 0;
    }
  }